<h2>List of Customers</h2>
<br><br>
<p-button (click)="onAddNewCustomer()" label="Add New Customer" ></p-button>
<br><br>
<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input (ngModelChange)="onSearch($event)" type="text" pInputText [(ngModel)]="value1" placeholder="Search by Customer ID">
</span>
<br>
<p-table [value]="customersList">
  <ng-template pTemplate="header">
    <tr>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{customer.id}}</td>
      <td>{{customer.firstName}}</td>
      <td>{{customer.middleName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.email}}</td>
      <td>
        <p-button (click)="onEdit(customer)" label="Edit" ></p-button>
        &nbsp; &nbsp;
        <p-button (click)="onDelete(customer)" label="Delete" ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

